.menu {
  padding: 80px 40px 90px;
}

.menu__container {
  display: flex;
  justify-content: space-between;
}

.menu__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  max-width: 469px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 20px;
}

.menu__item:last-child {
  margin: 0;
}

.menu__title {
  margin: 0 0 10px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.menu__description {
  display: flex;
}

.menu__description-text {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.78;
}

.menu__dots {
  align-items: center;
  display: flex;
  gap: 12px;
  margin: 0 12px;
}

.menu__dot {
  height: 5px;
  width: 5px;
  background-color: #d3b47f;
  border-radius: 50%;
}

.menu__interior-photos {
  display: flex;
  position: relative;
}

.menu__interior-photo_left {
  margin-top: 152px;
}

.menu__interior-photo_right {
  margin-bottom: 152px;
  margin-left: 22px;
}

.menu__frame {
  width: 471px;
  height: 502px;
  border: 2px solid #d3b47f;
  position: absolute;
  top: 51px;
  left: 97px;
  z-index: -1;
}

@media screen and (max-width: 1279px) {

  .menu {
    padding: 50px 20px;
  }

  .menu__container {
    flex-direction: column;
  }

  .menu__items {
    text-align: center;
    margin: 0 auto 50px;
  }

  .menu__description {
    justify-content: space-between;
  }

  .menu__interior-photos {
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {

  .menu__title {
    font-size: 18px;
  }

  .menu__description-text {
    font-size: 14px;
  }

  .menu__item {
    padding-bottom: 10px;
  }

  .menu__interior-photo {
    max-width: 250px;
  }

  .menu__interior-photo_left {
    margin-top: 100px;
  }

  .menu__interior-photo_right {
    margin-bottom: 100px;
  }

  .menu__frame {
    width: 350px;
    height: 400px;
    top: 38px;
    left: 82px;
  }
}

@media screen and (max-width: 567px) {

  .menu {
    padding: 30px 20px;
  }

  .menu__title {
    font-size: 16px;
  }

  .menu__description-text {
    line-height: 1.33;
  }

  .menu__items {
    margin-bottom: 30px;
  }

  .menu__interior-photo {
    max-width: 132px;
  }

  .menu__interior-photo_left {
    margin-top: 70px;
  }

  .menu__interior-photo_right {
    margin-bottom: 70px;
    margin-left: 16px;
  }

  .menu__frame {
    width: 180px;
    height: 200px;
    top: 33px;
    left: 47px;
  }
}
