.header {
  padding: 55px 40px 154px;
  color: #fff;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo_color {
  display: none;
}

.header__nav-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header__nav-item {
  margin-right: 45px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;
  transition: opacity .2s linear;
}

.header__link:hover {
  opacity: .5;
}

.header__phone {
  margin-left: 25px;
  display: flex;
}

.header__phone-icon {
  margin-right: 15px;
}

.header__phone-number {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;
  transition: opacity .2s linear;
}

.header__phone-number:hover {
  opacity: .5;
}

.header__overlay {
  display: none;
}

@media screen and (max-width: 1399px) {

  .header {
    padding: 55px 20px 60px;
  }

  .header__link {
    color: #000;
  }

  .header__logo {
    display: none;
  }

  .header__logo_color {
    display: block;
  }

  .header__phone-number {
    color: #000;
  }
}

@media screen and (max-width: 1279px) {

  .header__nav-item {
    margin-right: 20px;
  }

  .header__logo_color {
    width: 200px;
  }

  .header__link {
    font-size: 14px;
  }

  .header__phone-number {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {

  .header {
    padding: 18px 20px 40px;
  }

  .header__nav-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 50;
    opacity: 1;
    animation: openMenu .5s forwards;
    justify-content: space-between;
  }

  .header__nav-menu_opened {
    display: flex;
  }

  .header__overlay {
    display: none;
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
  }

  .header__overlay_opened {
    display: flex;
  }

  .header__nav-items-menu_opened {
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 28px;
    font-size: 18px;
    margin: 159px auto 40px;
  }

  .header__nav-item {
    margin-right: 0;
  }

  .header__phone {
    display: none;
  }

  .header__phone-menu {
    display: none;
    position: absolute;
    z-index: 200;
    right: 90.75px;
    top: 400px;
  }

  .header__phone-menu_opened {
    display: flex;
  }
}

@media screen and (max-width: 567px) {

  .header__logo_color {
    width: 150px;
  }
}
